<div class="spot-reviews">
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade" style="display: none;">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h4 id="myModalLabel" class="modal-title text-center">Add a review</h4>
          </div>
          <div class="modal-body">
            <%= simple_form_for [@spot, @review] do |f| %>
              <%= f.label :level %>
              <%= f.input :level_rating, label:false, input_html: {class: "feature-rating ", 'data-show-clear': "false"}, require: true %>
              <%= f.label :environment %>
              <%= f.input :environment_rating, label:false, input_html: {class: "feature-rating", 'data-show-clear': "false"}, require: true  %>
              <%= f.label :ambiance %>
              <%= f.input :ambience_rating, label:false, input_html: {class: "feature-rating", 'data-show-clear': "false"}, require: true  %>
              <%= f.label :access %>
              <%= f.input :access_rating, label:false, input_html: {class: "feature-rating", 'data-show-clear': "false"}, require: true  %>
              <%= f.label :comment %>
              <%= f.input :comment, label:false, input_html: {class: "form-control comment"}%>
              <%= f.button :submit, class: "btn btn-danger" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
