<div class="weather">

  <!-- Weather icons and description -->

  <div class="weather-desc text-center">
    <div class="icons">
      <% case @weather.weather_code %>
      <% when '113' %>
        <%= image_tag 'sunny-day.png', class: "weather-icon" %>
      <% when '116' %>
        <%= image_tag 'partialy-cloudy.png', class: "weather-icon" %>
      <% when '119' %>
        <%= image_tag 'cloudy-day.png', class: "weather-icon" %>
      <% when '122' %>
        <%= image_tag 'cloud-black-shape.png', class: "weather-icon" %>
      <% when '143' %>
        <%= image_tag 'mist.png', class: "weather-icon" %>
      <% when '260' || '248' %>
        <%= image_tag 'foggy.png', class: "weather-icon" %>
      <% when '353' || '263' || '176' || '296' || '293' || '266' %>
        <%= image_tag 'drizzle.png', class: "weather-icon" %>
      <% when '356' || '305' || '299' || '359' || '308' || '302' %>
        <%= image_tag 'rainy-day.png', class: "weather-icon" %>
      <% when '368' || '326' || '323' || '320' || '227' %>
        <%= image_tag 'hail.png', class: "weather-icon" %>
      <% when '395' || '371' || '335' || '338' || '332' || '329' || '230' %>
        <%= image_tag 'hail-storm.png', class: "weather-icon" %>
      <% when '374' || '365' || '362' || '179' || '377' || '350' || '317' || '314' || '311' || '284' || '281' || '185' || '182' %>
        <%= image_tag 'sleet.png', class: "weather-icon" %>
      <% when '392' || '389' || '386' || '200' %>
        <%= image_tag 'storm.png', class: "weather-icon" %>
      <% end %>
    </div>
<!--     <%= @weather.weather_desc %> -->
  </div>

  <!-- Air temperature -->

  <div class="air-temp text-center">
    <div class="temp-icon">
      <%= image_tag 'temperature.png', class: "weather-icon" %>
    </div>
    <%= "#{@weather.air_temp}°C" %>
  </div>

  <!-- Water temperature -->

  <div class="water-temp text-center">
    <div class="water-icon">
      <%= image_tag 'flood.png', class: "weather-icon" %>
    </div>
    <%= "#{@weather.water_temp}°C" %>
  </div>

  <!-- Wind speed -->

  <div class="wind-speed text-center">
    <div class="wind-icon">
      <%= image_tag 'breeze.png', class: "weather-icon" %>
    </div>
    <%= "#{@weather.wind_speed} km/h" %>
  </div>

  <!-- Wind direction -->

  <div class="wind-dir text-center">
    <div class="wind-icons">
      <%case @weather.wind_dir %>
      <% when 'N' %>
      <%= image_tag 'n.png', class: "weather-icon" %>
      <% when 'NNE' %>
      <%= image_tag 'nne.png', class: "weather-icon" %>
      <% when 'NE' %>
      <%= image_tag 'ne.png', class: "weather-icon" %>
      <% when 'ENE' %>
      <%= image_tag 'ene.png', class: "weather-icon" %>
      <% when 'E' %>
      <%= image_tag 'e.png', class: "weather-icon" %>
      <% when 'ESE' %>
      <%= image_tag 'ese.png', class: "weather-icon" %>
      <% when 'SE' %>
      <%= image_tag 'se.png', class: "weather-icon" %>
      <% when 'SSE' %>
      <%= image_tag 'sse.png', class: "weather-icon" %>
      <% when 'S' %>
      <%= image_tag 's.png', class: "weather-icon" %>
      <% when 'SSW' %>
      <%= image_tag 'ssw.png', class: "weather-icon" %>
      <% when 'SW' %>
      <%= image_tag 'sw.png', class: "weather-icon" %>
      <% when 'WSW' %>
      <%= image_tag 'wsw.png', class: "weather-icon" %>
      <% when 'W' %>
      <%= image_tag 'w.png', class: "weather-icon" %>
      <% when 'WNW' %>
      <%= image_tag 'wnw.png', class: "weather-icon" %>
      <% when 'NW' %>
      <%= image_tag 'nw.png', class: "weather-icon" %>
      <% when 'NNW' %>
      <%= image_tag 'nnw.png', class: "weather-icon" %>
      <% end %>
    </div>
    <%= @weather.wind_dir %>
  </div>
</div>
