<div class="main-container">
  <div class="carousel">
    <div class="logo">
    </div>
    <div class="filters">
      <%= form_tag(spots_path, method: :get) do %>
        <label>Where</label><%= text_field_tag :address, params[:address], class: "filter-search", :onclick => 'if($(this).val()=="Enter search term..."){$(this).val("");};' %>
        <label>When</label>
          <%= select_tag(:date, options_for_select(@possible_dates, params[:date]), {:class => 'date'}) %><br>
        <%= submit_tag("Go", class: "btn btn-wekite" )%>
      <% end %>
      </div>
    <div class="cards-container">
    <% @spots.each do |spot| %>
      <div id="card-<%= spot.id %>" class="cards-dimension main-card" data-id="<%= spot.id %>">
        <div class="card-body" style="background-image: linear-gradient(rgba(0, 0, 10, 0.2),
        rgba(0, 0, 10, 0.2)), url('<%= cl_image_path spot.avatar.path %>')">
          <div class="review">
            <% spot.average_calc.to_i.times do %>
              <div class="fa fa-star" ></div>
            <% end %>
            <% if spot.average_calc - spot.average_calc.to_i > 0.25 %>
              <div class="fa fa-star-half-o" ></div>
            <% end %>
            </div>
          <%= link_to spot_path(spot, weather_date: params[:date]), id: spot.id do %>
            <% if spot.avatar? %>
              <div class="card-body" >
                <span class="card-name text-center"><%= spot.name %></span>
              </div>
            <% else %>
              <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.05)), url('<%= image_path 'http://lorempixel.com/400/200/' %>')">
                <span class="card-name">
                  <%= spot.name %>
                </span>
              </div>
            <% end %>
          <% end %>
          <div id="weather-wrapper">
            <%= render partial: "weather", object: spot.weathers.where(date: @date).last %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="arrow">
    <div class="arrows-direction">
      <a href="#" id="carousel-back" class="carousel-nav fa fa-angle-left"></a>
      <a href="#" id="carousel-next" class="carousel-nav fa fa-angle-right"></a>
    </div>
  </div>
</div>

<div id="map" ></div>

</div>



<% content_for(:after_js) do %>
  <script>
    document.getElementById("date").addEventListener("change",changeDate);
    function changeDate(){
     console.log($(this).val());
      <% @spots.each do |spot| %>
        $("#<%= spot.id %>").attr("href", "/spots/" + <%= spot.id %> + "?weather_date=" + $(this).val())
      <% end %>
    };


  var markers;
    $( document ).ready( function() {
      function getWeather(){

       console.log($(this).val());

       let data = { weather_date: $(this).val()}

       $.ajax({
        url: "/spots/" + <%= @spots.first.id %>,
        data,
        type: "GET"
        });
     }
      document.getElementById("date").addEventListener("change",getWeather);

      $(".main-card").hide();
      $(".main-card").first().show();
      let current_card = $(".main-card").first();
      $("#carousel-back").click( function() {
        console.log("hi");
        current_card.hide();
        current_card = current_card.prev(".main-card");
        if(current_card.html() == null) {
          current_card = $(".main-card").last();
      }
        current_card.show();
        markers.forEach((marker) => {
          if (marker.serviceObject.title == current_card.attr("data-id")) {
          google.maps.event.trigger(marker.getServiceObject(), "click");
        };
      });
      });

      $("#carousel-next").click( function() {
        current_card.hide();
        current_card = current_card.next(".main-card");
        if(current_card.html() == null) {
          current_card = $(".main-card").first();
        }
        current_card.show();
        markers.forEach((marker) => {
          if (marker.serviceObject.title == current_card.attr("data-id")) {
          google.maps.event.trigger(marker.getServiceObject(), "click");
        };
      });
      });
    });

    var styles = [
    {
        "featureType": "administrative",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "color": "#444444"
            }
        ]
    },
    {
        "featureType": "administrative.country",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "visibility": "on"
            }
        ]
    },
    {
        "featureType": "landscape",
        "elementType": "all",
        "stylers": [
            {
                "color": "#f2f2f2"
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "all",
        "stylers": [
            {
                "saturation": -100
            },
            {
                "lightness": 45
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "simplified"
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "elementType": "labels.icon",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "transit",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "all",
        "stylers": [
            {
                "color": "#8AACFF"
            },
            {
                "visibility": "on"
            }
        ]
    }
]

    Gmaps.store = {};

    var handler = Gmaps.build('Google');
    handler.buildMap({
      provider: { styles: styles },
      internal: { id: 'map' }
      },
      function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }

        markers.forEach((marker) => {
          google.maps.event.addListener(marker.serviceObject, 'click', function(object) {
            document.querySelectorAll(".main-card").forEach(function(card) {
              card.style.display = "none";
            })

            document.getElementById("card-" + this.title).style.display = "block";
          });
        });

        document.querySelectorAll(".cards-dimension").forEach((spot) => {
          spot.addEventListener("mouseover", (event) => {
            const id = event.currentTarget.dataset.id
            markers.forEach((marker) => {
              if (marker.serviceObject.title == id) {
                google.maps.event.trigger(marker.getServiceObject(), "click");
              };
            });
          });
        });
      });


  </script>
<% end %>























