<!-- Spot Banner -->

<div class="spot-pic">
  <div class="spot-picture" style="background-image: linear-gradient(rgba(100,10,110,0.2), rgba(100,10,110,0.2)), url('<%= cl_image_path @spot.avatar.path %>')">
    <!-- Adding spot to favorites -->
      <div class="button-heart"><%= render "favorites" %></div>
  </div>
</div>


<div class="container">

  <div class="info-container">
    <div class="left-side">

      <div class="spot-infos">
        <!-- Spot Infos -->
        <h1 class="spot-name"><%= @spot.name %></h1>
        <p class="spot-description"><%= @spot.description %></p>
      </div>

      <div class="reviews">

        <h3 class="reviews-title">Reviews</h3>

        <!-- Rewiews average -->

        <%= render "reviews_average" %>

        <!-- Add a review button -->

        <button data-target="#myModal" data-toggle="modal" class="btn-white">
        Add a review
        </button>

        <!-- Review form -->

        <%= render "reviews" %>

        <!-- Reviews display -->

        <div class="reviews-display">
          <% @spot.reviews.each do |review| %>
            <div class="each-review">
              <img src="<%= cl_image_path review.user.avatar.path %>" class="avatar-review">
              <div class="user-name">
                <div>
                  <h5><%= review.user.first_name %></h5>
                </div>
                <div>
                  <h6><%= review.created_at.strftime("%B %Y") %></h6>
                </div>
              </div>
              <div class="review-spot spot-stars">
                <% review.total_rating.to_i.times do %>
                  <div class="fa fa-star" ></div>
                <% end %>
                <% if review.total_rating - review.total_rating.to_i > 0.25 %>
                  <div class="fa fa-star-half-o" ></div>
                <% end %>
              </div>
              <div class="review-comment">
                <p><%= review.comment %></p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <!-- Spot weather -->
    <div class="fixed-box">
      <!-- Cheking in -->
      <% if user_signed_in? %>
        <div class="checkins">
          <% if @checkin.id.nil? %>
            <%= simple_form_for [@spot, @checkin] do |f| %>
              <%# f.input :date %>
              <%= f.input :date, label:false, collection: @possible_dates, selected: @possible_dates[0] %>
              <%= render "weather" %>
              <%= f.button :submit, "Checkin", class: "btn-blue" %>
            <% end %>
          <% else %>
            <%= @checkin.date.strftime("%A, %b %d") %>
            <div class="weather-box"><%= render "weather" %></div>
            <%= link_to "Checkout", checkin_path(@checkin), class: "btn btn-danger", method: :delete %>
          <% end %>
        </div>
      <% else %>
        <div class="checkins">
          <%= simple_form_for [@spot] do |f| %>
            <%= f.input :date, label:false, collection: @possible_dates, selected: @possible_dates[0] %>
            <%= render "weather" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <!-- Spot pictures -->

  <div class="spot-pictures">
    <%= simple_form_for @picture do |f| %>
    <%= f.input :photos, as: :attachinary %>
    <%= f.input :spot_id, as: :hidden, input_html: {value: @spot.id} %>
    <%= f.button :submit %>
    <% end %>
    <% @spot.pictures.each do |picture| %>
      <% picture.photos.each do |photo| %>
          <%= cl_image_tag photo.path, width: 200, height: 300, crop: :fill %>
      <% end %>
    <% end %>
  </div>

  <!-- Updating spot infos -->
  <div>
    <%= link_to "Update", edit_spot_path(@spot), method: :get, class: "btn btn-danger" %>
  </div>

  <!-- Google map -->

  <div id="map" style="width: 100%; height: 600px;"></div>
</div>


<% content_for(:after_js) do %>
  <%= javascript_tag do %>
     $(document).on('ready', function(){
      $('.feature-rating').rating({
          size:'xs',
          step: 1,
          clearCaption: '',
          starCaptions: {1: 'Terrible', 2: 'bad', 3: 'Ok', 4: 'Good', 5: 'Very Good'},
          starCaptionClasses: {1: 'text-danger', 2: 'text-warning', 3: 'text-info', 4: 'text-primary', 5: 'text-success'}
      });
    var styles = [
    {
        "featureType": "administrative",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "color": "#444444"
            }
        ]
    },
    {
        "featureType": "landscape",
        "elementType": "all",
        "stylers": [
            {
                "color": "#f2f2f2"
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "all",
        "stylers": [
            {
                "saturation": -100
            },
            {
                "lightness": 45
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "simplified"
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "elementType": "labels.icon",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "transit",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "all",
        "stylers": [
            {
                "color": "#002C6A"
            },
            {
                "visibility": "on"
            }
        ]
    }];
    var handler = Gmaps.build('Google');
    handler.buildMap({
      provider: {
        styles: styles
       },
      internal: { id: 'map' } }, function() {
      markers = handler.addMarkers(<%= raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      if (markers.length == 0) {
        handler.getMap().setZoom(3);
      } else if (markers.length == 1) {
        handler.getMap().setZoom(14);
      }
    });

    });
  <% end %>
<% end %>
