<% @title = "#{@user.first_name} profile" %>
<div class="user-profile">
  <div class="user-info">
        <ul class="user-identity list-unstyled">
       <strong><li><%= current_user.first_name %> <%= current_user.last_name %></li></strong>
      <li><%= current_user.age %></li>
    </ul>
    <div class="user-photo">
      <% if current_user.facebook_picture_url? %>
        <%= image_tag current_user.facebook_picture_url, class: "img-circle avatar" %>
        <% elsif current_user.avatar %>
        <%= cl_image_tag current_user.avatar.path, class: "img-circle avatar" %>
        <% else %>
        <%= image_tag "http://placehold.it/30x30", class: "img-circle avatar" %>
      <% end %>
    </div>
    <div class="edit-profile">
      <%= link_to edit_user_registration_path do %>
        <%= t(".edit_profile", default: "Edit my account") %>
      <% end %>
    </div>
  </div>
<h2><%= @user.first_name %>' photos</h2>
  <ul class="user-photos">
    <div class="photos">
        <% @user.pictures.each do |picture| %>
          <%= Spot.find(picture.spot_id).name %>
        <%# link_to photo_path(photo) do %>
          <% picture.photos.each do |photo|%>
            <%= cl_image_tag photo.path %>
          <% end %>
        <% end %>
      <p><%# link_to "Add a photo", pictures_path %></p>
    </div>
  </ul>
</div>


