<div id="banner-wrap">
  <video autoplay="" loop="" poster="" id="bgvid">
    <source src="http://res.cloudinary.com/dkrjlrpn6/video/upload/v1511316848/Heaven_tnbn3s.mp4" type="video/mp4">
  </video>
  <div class="map-content">

    <div class="home-description">
      <h2 id="description"></h2>
      <div class='form-wrapper'>
        <%= form_tag(spots_path, method: :get) do %>
          <div class='input-home'>
            <label>Where</label><%= text_field_tag :address, nil, class: "search-field", placeholder: "", :onclick => 'if($(this).val()=="Enter search term..."){$(this).val("");};' %>
          </div>
           <div class='input-home'>
            <label>When</label>
            <%= select_tag(:date, options_for_select(@possible_dates), {:class => 'form-control'}) %>
          </div>
          <%= submit_tag("SPOT IT", :class => "btn btn-wekite" )%>
        <% end %>
      </div>
    </div>

    <div class="footer-home">
        <div class="footer-home-left list-inline">
          <ul class="list-inline">
            <li>© WeKite, Ride with <i class="fa fa-heart"></i></li>
          </ul>
        </div>

        <div class="footer-home-right list-inline">
          <ul class="list-inline">
            <li><%= link_to "https://www.facebook.com/thibaud.marce", class: "link-footer-home fa" do %>
              <i class="fa fa-facebook"></i>
            <% end %></li>
            <li><%= link_to "https://www.instagram.com/sev_clmnt/", class: "link-footer-home fa" do %>
              <i class="fa fa-instagram"></i>
            <% end %></li>
            <li><%= link_to "https://www.youtube.com/channel/UCblfuW_4rakIf2h6aqANefA", class: "link-footer-home fa" do %>
              <i class="fa fa-youtube"></i>
            <% end %></li>
          </ul>
        </div>
    </div>
  </div>
 </div>

