<div class="weather-iw">
<div class="air-temp-index-iw">
    <div class="temp-icon">
      <%= image_tag 'temperature.png', class: "weather-icon-index-iw" %>
    </div>
    <%= "#{weather.air_temp}°C" %>
  </div>

<div class="wind-dir-index-iw">
    <div class="wind-icons">
      <%case weather.wind_dir %>
      <% when 'N' %>
      <%= image_tag 'n.png', class: "weather-icon-index-iw" %>
      <% when 'NNE' %>
      <%= image_tag 'nne.png', class: "weather-icon-index-iw" %>
      <% when 'NE' %>
      <%= image_tag 'ne.png', class: "weather-icon-index-iw" %>
      <% when 'ENE' %>
      <%= image_tag 'ene.png', class: "weather-icon-index-iw" %>
      <% when 'E' %>
      <%= image_tag 'e.png', class: "weather-icon-index-iw" %>
      <% when 'ESE' %>
      <%= image_tag 'ese.png', class: "weather-icon-index-iw" %>
      <% when 'SE' %>
      <%= image_tag 'se.png', class: "weather-icon-index-iw" %>
      <% when 'SSE' %>
      <%= image_tag 'sse.png', class: "weather-icon-index-iw" %>
      <% when 'S' %>
      <%= image_tag 's.png', class: "weather-icon-index-iw" %>
      <% when 'SSW' %>
      <%= image_tag 'ssw.png', class: "weather-icon-index-iw" %>
      <% when 'SW' %>
      <%= image_tag 'sw.png', class: "weather-icon-index-iw" %>
      <% when 'WSW' %>
      <%= image_tag 'wsw.png', class: "weather-icon-index-iw" %>
      <% when 'W' %>
      <%= image_tag 'w.png', class: "weather-icon-index-iw" %>
      <% when 'WNW' %>
      <%= image_tag 'wnw.png', class: "weather-icon-index-iw" %>
      <% when 'NW' %>
      <%= image_tag 'nw.png', class: "weather-icon-index-iw" %>
      <% when 'NNW' %>
      <%= image_tag 'nnw.png', class: "weather-icon-index-iw" %>
      <% end %>
    </div>
    <%= weather.wind_dir %>
  </div>
</div>
